/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */

* {
  box-sizing: border-box;
}

:root {
  --ff-sans: "Roboto Condensed", sans-serif;
  --ff-cursive: "Dancing Script", cursive;
}

body {
  margin: 0;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0;
}

h1 {
  font-family: var(--ff-sans);
  font-weight: 700;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 10px solid #eaeaea;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.25em;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
}

span.best-food,
span.posted,
span.print {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: var(--ff-sans);
}

span.best-food,
span.posted,
span.print {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: var(--ff-sans);
}

span.delicious {
  font-size: 2.5rem;
  font-family: var(--ff-cursive);
}

span.print {
  line-height: 0.6;
  margin-left: 0.2em;
}

ul li {
  margin-left: 0.05em;
}

ul li:nth-child(7) {
  margin-left: 0.6em;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 2em 0 1em;
}

.print-container {
  display: flex;
  align-items: flex-end;
  margin-left: 0.2em;
}

.main-img > img {
  width: 100%;
}
